@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@400;700;800&display=swap');
html, body, div.App  {
  height: 100%;
  width: 100%;
  margin: 0;
}

div.App {
  background-color: #090979;
  font-family: 'Turret Road', cursive;
  height: 100%;
  width: 100%;
}

/* Set uniform color for all text in div.app*/
div.App, div.App a, div.App a:hover {
  color: #090979;
}
