@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@400;700;800&display=swap');
html, body, div.App  {
  height: 100%;
  width: 100%;
  margin: 0;
}

div.App {
  background-color: #090979;
  font-family: 'Turret Road', cursive;
  padding: 5%;
  height: 95%;
  width: 95%;
}

/* Set uniform color for all text in div.app*/
div.App a, div.App a:visited, div.App h1, div.App h3, div.App h4, div.App h5,div.App h6, div.App p, div.App span {
  color: #090979;
}
