div.instructions {
  background:  #bbbfca ;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 24px;
  height: 80%;
  width: 80%;
  max-width: 1150px;
  margin: 5% 0 0;
}

div.how-to-play {
  height: 80%;
  margin: 5% 0 0;
  padding: 5%;
  overflow: scroll;
}

/* Remove scrollbar from view */
div.how-to-play::-webkit-scrollbar {
    width: 0px;  
}

div.how-to-play p {
  color: black;
}

div.keyboard {
  text-align: center;
}

div.keyboard img {
  height: 50%;
  width: auto;
  vertical-align: middle;
}

div.keyboard span {
  color: black;
}

@media screen and (min-width: 500px) {
  div.how-to-play {
    padding: 5% 15%;
  }
}