nav {
  height: 7%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

nav a , nav a:visited{
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline overline;
}

nav .selected-nav-item {
  text-decoration: underline overline;
}

nav .selected-nav-item:hover {
  font-weight: normal;
  cursor: default;
}