div.quiz-content {
  border: 1px solid #090979;
  border-radius: 12px;
  height: 55%;
  margin: .5% 0;
  padding: 0 5% 5%;
  overflow: scroll;
}

div.quiz-content::-webkit-scrollbar {
  width: 0px;  
}

div.quiz-content h3.question {
  margin: 5% 0 5% 0;
}

div.answer-choice {
  display: flex;
  margin: 3% 0;
  height: 1.8rem;
}

div.answer-choice h3, div.answer-choice p  {
  margin: 0;
  text-align: left;
  align-self: center;
}

div.answer-choice h3 {
  margin-right: 3%; 
}

div.answer-choice:hover {
  cursor: pointer;
  font-weight: 800;
  background-color: #120548;
  color: white;
}

div.selected-style {
  background-color: #564f71;
}


@media screen and (min-width: 500px) {
  div.quiz-content { 
    overflow: hidden;
  }
  div.answer-choice {
    height: 2.5rem;
  }
  
  div.answer-choice h3, div.answer-choice p  { 
    text-align: left;
  }
}