div.quiz-details-wrapper {
  margin: 0 5%;
}

div.quiz-details-wrapper h1.score {
  text-align: center;
  font-size: 3rem;
  margin: 1% 0 5%;
}

div.quiz-details {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  margin: 0 14%;
}

div.quiz-details p {
  margin: 0;
  font-weight: 700;
}

div.button {
  margin: 5% 10% 0 0;
  display: flex;
  justify-content: flex-end;
}

button.next-question {
  border: none;
  width: 15%;
  background-color: #1F0B79;
  color: #BBBFCA;
  padding: 2% 1%;
  font-size: 90%;
  border-radius: 8px;
}