div.quiz-content h3.question {
  margin: 5% 0 5% 0;
}

div.answer-choice {
  display: flex;
  margin: 0 0 2%;
}

div.answer-choice h3, div.answer-choice p {
  margin: 0;
  text-align: left;
}

div.answer-choice h3 {
  margin: 0 5% 0; 
}

div.answer-choice:hover {
  background-color: #564f71;
  color: white;
  cursor: pointer;
  font-weight: 800;
}

div.selected-style {
  background-color: #564f71;
}


