div.quiz {
  background:  #bbbfca ;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 24px;
  height: 80%;
  width: 80%;
  max-width: 1150px;
  margin: 0;
}

div.quiz nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 15% 5%;
}

div.quiz nav p {
  margin: 0;
}

div.quiz .link {
  text-decoration: underline;
  cursor: pointer;
}

div.quiz .link:hover {
  text-decoration: underline overline;
}

div.modal {
  display: none;
}

div.quiz p.next-question {
  display: none;
  margin: 0 13%;
  text-align: right;
}



